
.quesItem {
  padding: 5px 20px;
  border-bottom: 1px solid var(--neutral-200);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 12px;
  width: 100%;
  display: flex;
  gap: 12px;
}

.quesItem:hover {
  background: var(--neutral-200);
}

.quesItem.active {
  background: var(--neutral-100);
  border-right: 4px solid var(--primary-color);
}

.quesId {
  font-size: 11px;
  color: var(--blue-500);
  font-weight: bold;
}

.quesData{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quesTitle {
  margin: 4px 0;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--gray-900);
}

.quesMeta {
  font-size: 12px;
  color: var(--blue-400);
}

.checkSet{
  accent-color: var(--primary-color);
}