.cardSubject {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 24rem;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: var(--off-white);
  border-radius: 0.75rem;
  background-color: var(--white);

  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.cardSubject:hover {
  border-color: var(--primary-color);
  color: var(--off-white);
  cursor: pointer;
  transform: translateY(-0.25rem);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.cardContent {
  padding: 1.25rem;
}

.subjectCard {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--gray-900);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.subjectName {
  font-size: 1rem;
  color: var(--gray-600);
}

.subjectDescription {
  font-size: 0.5rem;
  color: var(--gray-600);
  height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-600);
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btnQuesBank {
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--gray-600);

  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
