.button {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.primary {
  background-color: var(--primary-color);
  color: var(--off-white);
  border: 1px solid var(--primary-color);
}

.primary:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--gray-600);
}

.secondary {
  background-color: var(--off-white);
  color: var(--black);
}

.secondary:hover {
  background-color: transparent;
  border: 1px solid var(--off-white)
}

.green {
  background-color: var(--success-color);
  color: var(--black);
}

.btn-danger {
  background-color: var(--red-600);
  color: var(--black);
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.btn-danger:hover {
  background-color: var(--black);
  color: var(--red-600);
  border: 1px solid var(--red-600);
}