
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px)
}

.modalContent {
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modalHeader {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBody {
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
}

.btnClose {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}