@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  
  --success-color: #34A853;
  --primary-color: #3468a8;
  --error-color: #EA4335;

  --color-orange-main: #FF8400;
  --color-orange-light: #ff923f;

  --off-white: #f1f1f1;

  --gray-900: #111827;
  --gray-600: #4b5563;

  --red-900: #7f1d1d;
  --red-800: #991b1b;
  --red-700: #b91c1c;
  --red-600:	#dc2626;
  --red-500:	#ef4444;
  --red-400:	#f87171;
  --red-300:	#fca5a5;

  --blue-100: #e8f0f8bc;
  --blue-200: #c9d9ecbc;
  --blue-300: #9fb8d9bc;
  --blue-400: #5d82aebc; /* màu gốc */
  --blue-500: #4c6f99bc;
  --blue-600: #3c5b7cbc;
  --blue-700: #2d4660bc;
  --blue-800: #1e3044bc;
  --blue-900: #111c29bc;

  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;

  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fde68a;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;

}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
