@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --success-color: #34A853;
  --primary-color: #3468a8;

  --color-orange-main: #FF8400;
  --color-orange-light: #ff923f;

  --off-white: #f1f1f1;

  --text-gray-900: #111827;
  --text-gray-600: #4b5563;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground );
  font-family: Arial, Helvetica, sans-serif;
}
