.mainContent {
  height: 100vh;
}

.wrapper{
  background: linear-gradient(180deg, var(--white), var(--blue-200));
}

@media (min-width: 640px) {
  .mainContent {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .mainContent {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
