
.cardContainer{
  flex: 1;
  display: flex;
  height: fit-content;
}

.card {
  background: var(--white);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  border: 1px solid var(--white);
  overflow: auto;
  width: 100%;
  margin: auto;
  height: fit-content;
  max-height: 90vh;
}


.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Bloom Levels Colors */
.remember { background: #e0e0e0; color: #616161; }
.understand { background: #e3f2fd; color: #1976d2; }
.apply { background: #e8f5e9; color: #2e7d32; }
.analyze { background: #fff3e0; color: #ef6c00; }
.evaluate { background: #f3e5f5; color: #7b1fa2; }
.create { background: #ffebee; color: #c62828; }

.typeTag {
  font-size: 0.8rem;
  color: var(--neutral-500);
}

.content {
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--neutral-600);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.meta {
  font-size: 0.85rem;
  color: var(--neutral-600);
  display: flex;
  gap: 15px;
  margin-bottom: 1.5rem;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}


.detailButton {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 5px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}


.answerGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.answerItem {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--white);
  border: 1px solid var(--neutral-100);
  font-size: 0.9rem;
  transition: all 0.2s;
}

.ansCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}

.correct .ansCircle {
  background: var(--success-color);
  color: var(--white);
}

.answerItem.correct {
  background-color: var(--white);
  border-color: var(--success-color);
  color: var(--success-color);
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(76, 175, 80, 0.2);
}
